*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(94, 94, 94),rgb(57, 57, 57));
    font-family: sans-serif;
}

.counter-container{
    display: block;
    width: 300px;
    height: 250px;
    position: relative;
    left: 50%;
    top: 25vh;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    font-size: 4rem;
    text-align: center;
    background: linear-gradient(to bottom, rgb(94, 94, 255),rgb(70, 70, 255),rgb(53, 53, 255))
}
.container-content{

}


.num-display{
    color: white;
    text-shadow: 0px 0px 10px black, 0px 0px 10px white;
}


.counter-container button{
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
}
.counter-container button:hover{
    box-shadow: 0px 3px 0px black;
    transform: translateY(-5%);
    transition: .1s ease-in-out;
}
.counter-container button:active{
    background-color: rgb(196, 196, 196);
    transform: translateY(0%);
    box-shadow: 0px 0px 0px;
    transition: 0s;
}